html,
body {
    max-height: 100vw;
    max-width: 100vw;
    padding: 0px;
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    display: grid;
    background-color: #f9f9f8;
    display: flex;
    flex-flow: column;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.shop-container,
.nav-container,
.footer-container,
.about-container {
    box-sizing: border-box;
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header-container {
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* .main-container {
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; 
} */

section {
    padding: 40px 0px;
}

/* Hero */
.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(https://i.ibb.co/CmPYwdR/coffee-Shop.png);
    background-size: cover;
    height: 80vh;
}

.hero:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.hero-text {
    display: inline-block;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 30px;
    max-width: 430px;
}

.hero-text h2 {
    margin: 2% 2% 0px 2%;
}

#form {
    margin-bottom: 8%;
}

.btn {
    border: none;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #ff6633;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFFFF0;
    width: 25%;
}

.btn:hover {
    background-color: #FFFFF0;
    color: #555;
}

input {
    padding: 5px 10px;
    width: 36%;
}

/* Header */
header {
    background-color: #FFFFF0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    margin: 0 auto;
}

nav {
    text-transform: uppercase;
    display: block;
}

nav ul {
    width: 70%;
    float: right;
}

nav ul li {
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
}

.logo {
    height: auto;
    left: 5%;
    position: absolute;
}


/* About */
#about {
    max-width: 1500px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-wrapper {
    width: 60%;
    height: 100px;
    margin-bottom: 2%;
}

.about-margin {
    /* width: 66.66667%; */
}

.about-video {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
} 

iframe {
    top: 50px;
    right: 100px;
    width: 100%;
}

.about-p {
    animation: fadeInUp;
    animation-duration: 0s;
    animation-timing-function: ease;
    animation-fill-mode: none;
    background: #FFFFF0;
    color: #ff825d;
    padding: 15px;
    width: 100%;
    height: auto;
    font-size: 18px;
}

.about-p span {
    text-transform: uppercase;
    font-size: 40px;
}

/* Shop */
#shop {
    background-color: #ff825d !important;
    max-width: 1500px;
    padding: 20px 20px;
}
}

#shop h3 {
    font-size: 100px;
    text-transform: uppercase;
    color: #DEDED0;
    line-height: 0.85;
}

.products {
    display: inline-block;
}

.shop-list1, .shop-list2, .shop-list3  {
    list-style: none;
    max-width: 80px;
}

/* Media queries */
@media (max-width:800px) {
    .hero-text {
        width: 40%;
        font-size: 90%;
    }

    .hero-text input {
        margin: 5px 0px;
    }

    input#email {
        width: 52%;
    }

    .btn {
        width: 50%;
        padding: 5px 0px;
    }
}

@media (max-width:300px) {
    .btn {
        width: 20px !important;
        padding: 0px 2px;
    }
}